body {
    background-color: beige;
}

#hero {
    background-image: url(../img/oceano.jpeg);
    background-size: cover;
    position: center;
    text-align: center;
    color: white;
    height: 600px;
    padding-top: 250px;
}

.text-align {
    text-align: center;
}

#servicios {
    background-color: #F8F9FB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.azul_icono {
    color: #0D6DFA;
    font-size: 75px;
}

.Integridad {
    padding-left: 100px;
    padding-right: 100px;
}

#hero2 {
    background-image: url(../img/oceano.jpeg);
    background-size: cover;
    position: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

footer{
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}